:root {
  --primary-bg-color: #1f1f1f;
  --secondary-bg-color: #303134;
  --highlight-color: #76abae;
  --text-color-main: #fffdfd;
  --text-color-secondary: #5993f1;
  --text-color-third: #757575;
  --textarea-bg-color: #0000ff; /* Color azul para el fondo del textarea */
}

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--text-color-main);
}

h2 {
  color: var(--text-color-main);
  margin-bottom: 50px;
}

.form-control {
  background: var(--primary-bg-color);
}

.form-select {
  background: var(--primary-bg-color);
  color: var(--text-color-secondary);
  border-color: var(--text-color-third);
}

.Row {
  padding: 0 0 15px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom: var(--secondary-bg-color) 2px solid;
}

.icon-container svg {
  fill: var(--text-color-third);
  transition: fill 0.3s, transform 0.3s;
}

.icon-container:hover svg {
  fill: var(--text-color-main);
  transform: scale(1.1);
  opacity: 0.8;
}

/* Nuevas reglas para cambiar el fondo del textarea */
textarea {
  background-color: var(--secondary-bg-color) !important;
  color: var(--text-color-main);
}

textarea:focus {
  color: var(--text-color-main);
  border-color: var(--text-color-secondary);
}

/* Estilos para los placeholders */
textarea::placeholder {
  color: var(--text-color-third) !important; /* Blanco */
}

.button-column {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.delete-button {
  position: relative;
  left: -70px;
  margin-top: 5px;
}

/* MEDIA QUERIES */

@media (max-width: 480px) {
  #root {
    padding: 1rem; 
  }

  h2 {
    font-size: 1.5rem; 
    margin-bottom: 30px; 
  }

  .form-control,
  .form-select {
    font-size: 0.9rem;
    padding: 0.5rem; 
  }

  .icon-container svg {
    width: 20px; 
    height: 20px;
  }

  .Row {
    padding: 0 0 10px;
    border-bottom: var(--secondary-bg-color) 1px solid; 
  }
}

/* 
@media (min-width: 481px) and (max-width: 768px) {
  #root {
    padding: 1.5rem; 
  }

  h2 {
    font-size: 1.75rem; 
    margin-bottom: 40px; 
  }

  .form-control,
  .form-select {
    font-size: 1rem;
    padding: 0.75rem; 
  }

  .icon-container svg {
    width: 22px; 
    height: 22px;
  }

  .Row {
    padding: 0 0 12px; 
    border-bottom: var(--secondary-bg-color) 1.5px solid; 
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  #root {
    padding: 2rem; 
  }

  h2 {
    font-size: 2rem; 
    margin-bottom: 50px; 
  }

  .form-control,
  .form-select {
    font-size: 1.1rem;
    padding: 1rem; 
  }

  .icon-container svg {
    width: 24px; 
    height: 24px;
  }

  .Row {
    padding: 0 0 15px; 
    border-bottom: var(--secondary-bg-color) 2px solid; 
  }
}

@media (min-width: 1024px) {
  #root {
    padding: 2rem; 
  }

  h2 {
    font-size: 2.5rem; 
    margin-bottom: 60px; 
  }

  .form-control,
  .form-select {
    font-size: 1.2rem;
    padding: 1.25rem; 
  }

  .icon-container svg {
    width: 24px; 
    height: 24px;
  }

  .Row {
    padding: 0 0 20px;  
    border-bottom: var(--secondary-bg-color) 2px solid;
  }
} */
