:root {
  --primary-bg-color: #1f1f1f;
  --secondary-bg-color: #303134;
  --highlight-color: #76abae;
  --text-color-main: #fffdfd;
  --text-color-secondary: #99b4df;
  --text-color-third: #757575;
  --textarea-bg-color: #0000ff; /* Color azul para el fondo del textarea */
}

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--text-color-main);
}

h2 {
  color: var(--text-color-main);
  margin-bottom: 30px;
}

.form-control {
  background: var(--primary-bg-color);
  padding-right: 1.6rem;
}

.form-select {
  background: var(--primary-bg-color);
  color: var(--text-color-secondary);
  border-color: var(--text-color-third);
}

.Row {
  padding: 0 0 15px;
  /* border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px; */
  border-bottom: var(--secondary-bg-color) 1px solid;
  /* background-color: yellow; */
}

.icon-container svg {
  fill: var(--text-color-third);
  transition: fill 0.3s, transform 0.3s;
  /* background-color: violet; */
}

.icon-container:hover svg {
  fill: var(--text-color-main);
  transform: scale(1.1);
  opacity: 0.8;
}

/* Nuevas reglas para cambiar el fondo del textarea */
textarea {
  background-color: var(--secondary-bg-color) !important;
  color: var(--text-color-main);
}

textarea:focus {
  color: var(--text-color-main);
  border-color: var(--text-color-secondary);
}

/* Estilos para los placeholders */
textarea::placeholder {
  color: var(--text-color-third) !important; /* Blanco */
}

.button-column {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.delete-button {
  position: relative;
  left: -52px;
  margin-top: 3px;
  /* background-color: #0000ff; */
  height: 40px;
  width: 40px;
}

.delete-button span {
  display: flex;
  margin: auto;
}

.button-column {
  /* background-color: #0000ff !important; */
  padding: 0;
}
/* MEDIA QUERIES */

@media (max-width: 480px) {
  #root {
    padding: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .form-control,
  .form-select {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .icon-container svg {
    width: 20px;
    height: 20px;
  }

  .Row {
    padding: 0 0 10px;
    border-bottom: var(--secondary-bg-color) 1px solid;
  }
}

@media (max-width: 450px) {
  body {
    position: relative;
    top: 0px;
  }
  html {
    background-color: var(--primary-bg-color) !important;
  }
  .Row {
    display: flex;
    flex-direction: column;
  }
  .delete-button {
    position: relative;
    left: 0px;
  }
  .button-column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #root {
    width: 500px;
  }
}
