#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

/* body{
  background-color: #222831;
}
h2{
  color: #eeeeee;
}

.form-control, .textarea{
  background: #31363F;
  color: #76ABAE;
} */